.idea
.DS_Store
frontend/package-lock.json
backend/src/.env
backend/__pycache__/app.cpython-39.pyc
*.__pycache__
__pycache__/
*.pyc
venv/
.env
.vscode/
.idea/
*.swp
*.pyo
*.pyd
node_modules/

dist/
build/

# Logs
*.log
backend/src/__pycache__/auth_utils.cpython-39.pyc
backend/src/auth_utils.py
backend/src/database/__pycache__/commands.cpython-39.pyc
backend/src/database/__pycache__/crud.cpython-39.pyc
backend/src/database/__pycache__/database.cpython-39.pyc
backend/src/database/__pycache__/models.cpython-39.pyc
backend/src/database/commands.py
backend/src/database/database.py
backend/src/routes/__pycache__/books.cpython-39.pyc
backend/src/routes/__pycache__/collections.cpython-39.pyc
backend/src/routes/__pycache__/transactions.cpython-39.pyc
backend/src/routes/__pycache__/users.cpython-39.pyc
text

frontend/.vite/
